/*地图大小*/
.map {
  width: 100%;
  height: 100%;
}

/*鹰眼*/
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
  border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  width: 200px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}

.ol-rotate {
  top: 170px;
  right: 0;
}

/*popup Popup*/
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  /*z-index: 1000;*/
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

/*dragbox*/
.ol-dragbox {
  background-color: rgba(255,255,255,0.4);
  border-color: rgba(100,150,0,1);
}

/*测距-测面*/
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}


/*自定义的导航控件*/
 .nav_zoom_in
        {
            width: 20px; 
            height: 20px; 
            position: absolute; 
            overflow: hidden; 
            left: 16px; 
            top: 53px; 
            -webkit-user-select: none; 
            cursor: pointer; 
            z-index: 10; 
            background-image: url(http://api.tianditu.com/img/map/mapNav2.png); background-position: 0px -266px;
        }

        .nav_zoom_out {
            width: 20px; 
            height: 20px; 
            position: absolute; 
            overflow: hidden; 
            left: 16px; 
            top: 196px; 
            -webkit-user-select: none; 
            cursor: pointer; 
            z-index: 10; 
            background-image: url(http://api.tianditu.com/img/map/mapNav2.png); background-position: 0px -291px;
        }

        .nav_control_left {
            width: 13px; 
            height: 26px; 
            position: absolute; 
            overflow: hidden; 
            left: 0px; top: 13px; 
            -webkit-user-select: none; 
            cursor: pointer;
        }

        .nav_control_up {
            width: 26px; 
            height: 13px; 
            position: absolute; 
            overflow: hidden; 
            left: 12px; 
            top: 0px; 
            -webkit-user-select: none; 
            cursor: pointer;
        }

        .nav_control_right {
            width: 13px; 
            height: 26px; 
            position: absolute; 
            overflow: hidden; 
            left: 34px; 
            top: 11px; 
            -webkit-user-select: none; 
            cursor: pointer;
        }

        .nav_control_down {
             width: 26px; 
             height: 13px; 
             position: absolute; 
             overflow: hidden; 
             left: 12px; 
             top: 32px; 
             -webkit-user-select: none; 
             cursor: pointer;
        }
